@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(../fontes/idroid.otf); format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor00: #ffffff;
    --cor01: #ffe4c4;
    --cor02: #00e000;
    --cor03: #50e070;
    --cor04: #0e6922;
    --cor05: #043f11;
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-android: 'idroid', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-padrao);
    background-color: var(--cor01);
}

header {
    background-image: linear-gradient(to bottom, #50e070, #043f11 90%);
    padding: 70px;
    min-width: 150px;
    text-align: center;
}

a.externo::after {
    content: '\00A0\1F517';
}

header > h1 {
    text-align: center;
    font-family: var(--font-android);
    font-size: 3em;
    font-weight: normal;
    width: 100%;
    margin-bottom: 10px;
    color: var(--cor00);
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.452);
}

header > p {
    color: var(--cor00);
    margin-top:20px;
    max-width: 800px;
    margin: auto;
}

nav {
    background-color: #043f11;
    padding-bottom: 10px;
}

nav > a {
    color: var(--cor03);
    font-size: 1em;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor03);
    color: var(--cor00);
}

main {
    background-color: aliceblue;
    min-width: 350px;
    max-width: 1850px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.466);
}

main h1 {
    font-family: var(--font-android);
    color: var(--cor04);
}

main h2 {
    font-family: var(--font-android);
    color: var(--cor05);
    font-size: 1.5em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor03), transparent);
    text-indent: 8px;
}

div.video {
    background-color: var(--cor05);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 10px;
    /* Importante */
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

img {
    width: 100%;
}

img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

aside {
    background-color: #5ce05cb4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.466);
}

aside > ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
}

aside > h3 {
    background-color: var(--cor04);
    font-family: var(--font-padrao);
    color: var(--cor00);
    padding: 5px;
    margin: -15px -15px 0px -15px;
    border-radius: 10px 10px 0px 0px;
}

main strong {
    color: var(--cor04);
    font-weight: bold;
}

main a {
    color: var(--cor04);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    padding: 2px 6px;

}

main a:hover {
    text-decoration: underline;
    color: var(--cor02);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
}

footer p {
    background-color: var(--cor05);
    color: #ffffff;
    text-align: center;
    
}

footer a {
    color: var(--cor00);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--cor02);
    text-decoration: underline;
}